{%- set chloride_root = pillar['chloride_root'] -%}

{# Install a package from AUR with a very simple helper #}
{% macro aur(pkg, dep=[]) -%}
{{ pkg }}:
  cmd.script:
    - name: {{ chloride_root }}/scripts/aur.sh
    - args: {{ pkg }}
    - stateful: True
{% if dep|length > 0 %}
    - require:
      - pkg: {{ pkg }}
  pkg.installed:
    - pkgs: {{ dep }}
{% endif %}
{%- endmacro %}
