{% from 'macros/symlink.jinja' import symlink %}
{%- set credentials_root = pillar['credentials_root'] -%}

{%- macro credentials(source, target, user, mode) -%}
  {%- set user = user|default('root') -%}
  {%- set mode = mode|default('700') -%}

  {{- symlink(user, user, mode, source, credentials_root + '/' + target, 'credential[' + source + ']') -}}
{% endmacro %}

{%- macro inPlaceCredentials(source, target, user, mode) -%}
  {%- set user = user|default('root') -%}
  {%- set mode = mode|default('700') -%}


{{ target + ' deploy' }}:
  file.directory:
    - name: {{ source + '/' + target }}
    - user: root
    - group: root
    - recurse:
      - user
      - group
    - require:
      - rsync: {{ target + ' deploy' }}
      - rsync: {{ target + ' backup' }}
{# Assueming source and target directories have the same name #}
  rsync.synchronized:
    - name: {{ source }}
    - source: {{ credentials_root + '/' + target }}
    - prepare: True
    - update: True

{{ target + ' backup'}}:
  rsync.synchronized:
    - name: {{ credentials_root}}
    - source: {{ source + '/' + target }}
    - update: True

{% endmacro %}
