{%- set states_root = pillar['states_root'] -%}

{# Load a dump of keys with dconf to configure a GNOME 3 desktop #}
{% macro dconf(user, file) -%}
{{ file }}:
  cmd.run:
    - name: dbus-launch dconf load / < {{ states_root }}/{{file}}
    - runas: {{ user }}
    - require:
      - pkg: gnome

{%- endmacro %}
