{% from 'macros/symlink.jinja' import symlink %}
{%- set sodium_root = pillar['sodium_root'] -%}
{%- set credentials_root = pillar['credentials_root'] -%}

{%- macro dotfile(user, source, target, mode) -%}
  {%- set mode = mode|default('700') -%}

  {{- symlink(user, user, mode, '/home/' + user + '/' + source, sodium_root + '/states/' + target, 'dotfile[' + source + ']') -}}
{% endmacro %}
