{% from 'macros/symlink.jinja' import symlink %}
{%- set sodium_root = pillar['sodium_root'] -%}
{%- set credentials_root = pillar['credentials_root'] -%}

{%- macro etcfile(user, source, target, mode) -%}
  {%- set user = user|default('root') -%}
  {%- set mode = mode|default('700') -%}

  {{- symlink(user, user, mode, '/etc/' + source, sodium_root + '/states/' + target, 'etcfile[' + source + ']') -}}
{% endmacro %}
