{%- macro gitclone(user, url, path) -%}

{{ 'git[' + url + ']' }}:
  git.latest:
    - name: {{ url }}
    - target: {{ path }}
    - user: {{ user }}
    - identity: /home/{{ user }}/.ssh/id_rsa
    - submodules: True
    - require:
      - user: {{ user }}
      - file: /home/{{ user }}/.ssh
{% endmacro %}
<!--
{%- macro git(user, repos) -%}
  {%- for url in repos -%}
    {{- gitclone(user, url, repos[url]) -}}
  {%- endfor %}
{% endmacro %} -->
