{# Set a key with gsettings for configuring a GNOME 3 desktop #}
{% macro gsettings(user, path, key, value) -%}
gsettings set {{ path }} {{ key }} {{ value }}:
  cmd.run:
    - cwd: /
    - user: {{ user }}
    - unless: gsettings get {{ path }} {{ key }} | grep -q {{ "^" + value + "$" }}
    - require:
      - user: {{ user }}
{# TODO: Does "dconf update" need to be ran? #}
{%- endmacro %}
