{%- set credentials_root = pillar['credentials_root'] -%}

{%- macro authorized(user, key) -%}
{{ key|truncate(30, True, '') }}:
  ssh_auth.present:
    - name: {{ key }}
    - user: {{ user }}
    - enc: ssh-rsa
    - require:
      - user: {{ user }}
      - file: /home/{{ user }}/.ssh
{% endmacro %}

{%- macro knownhost(user, name, enc, key) -%}
{{ name }}:
  ssh_known_hosts:
    - present
    - enc: {{ enc }}
    - key: {{ key }}
    - user: {{ user }}
    - hash_known_hosts: False
    - require:
      - user: {{ user }}
      - file: /home/{{ user }}/.ssh
{% endmacro %}

{%- macro ssh(user, params) -%}
{{ credentials('/home/' + user + '/.ssh', 'ssh', user, '0600') }}

{% for key in params.authorized_hosts %}
  {{- authorized(user, key) }}
{% endfor %}

{% for host in params.known_hosts %}
  {{- knownhost(user, host, params.known_hosts[host].enc, params.known_hosts[host].key) }}
{% endfor %}
{% endmacro %}
