{%- macro symlink(user, group, mode, source, target, id) -%}
{{ id }}:
  file.symlink:
    - name: {{ source }}
    - target: {{ target }}
    - user: {{ user }}
    - group: {{ user }}
    - mode: {{ mode }}
    - makedirs: True
    - force: True {# Warning, this can really screw things up #}
    {%- if user != 'root' %}
    - require:
      - user: {{ user }}
    {% endif -%}
{% endmacro %}
