{% from 'macros/credentials.jinja' import credentials with context %}
{% from 'macros/ssh.jinja' import ssh with context %}
{% from 'macros/gnupg.jinja' import gnupg with context %}

{%- macro user(name, params) -%}
{{ name }}:
  user.present:
    - shell: /bin/zsh
    - home: /home/{{ name }}
    - password: {{ params.credentials.passwd }}
    - enforce_password: true
    - groups:
    {%- for group in params.groups %}
      - {{ group }}
    {%- endfor %}
    - require:
      - pkg: base.packages

{% if params.credentials.ssh %}
{{ ssh(name, params.credentials.ssh) }}
{% endif%}

{% if params.credentials.gnupg %}
{{ gnupg(name, params.credentials.gnupg) }}
{% endif%}

{% endmacro %}

{%- macro users(list) -%}
  {%- for name in list -%}
    {{ user(name, list[name]) }}
  {%- endfor -%}
{%- endmacro -%}
